[Unit]
Description=Main GDrive synchronization service
OnFailure=gdrive-noti.service

[Service]
Type=oneshot
ExecStart=/home/luqman/bin/rclonesync gdrive-main: /home/luqman/Documents/gdrive-main
