[Unit]
Description=Mailbox synchronization service
OnFailure=mbsync-noti.service

[Service]
Type=oneshot
ExecStart=/home/luqman/.mutt/scripts/sync.sh
