[Unit]
Description=Polybar
Documentation=man:polybar(1)
PartOf=polybar.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=polybar top

RestartSec=2

[Install]
WantedBy=polybar.target
