[user]
	email = luqmanulhakim1720@gmail.com
	name = Luqmanul Hakim Nuzrin
	signingkey = 49752704BA42D1FD

[core]
#	pager = diff-so-fancy | less --tabs=4 -RFX
  pager = delta

[delta]
  side-by-side = true

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
